//  <------- COLOR PALETTE ---------->

// Achromatic colors
$white: #ffffff;
$white2: #efefef;
$gray: #5b5855;
$gray2: #343a40;
$black: #1d1d1d;

// Auxiliar colors
$primary: #ffc107;
$secondary: #7952b3;
$danger: #ff4848;

//Fonts
$extra_small: 1.2rem;
$small: 1.4rem;
$normal: 1.6rem;
$h2: 2.5rem;
